<div class="vertical-line"></div>

<div class="row">
  <div class="col-md-3">
    <aside>
      <section class="user_info">
        <%= link_to gravatar_for(current_user, size: Settings.image_size100), current_user %>
      </section>
    </aside>
    <b><%= current_user.name %></b>
    <b><%= t("static_pages.Learned_word", number_word: @results.count) %></b>
    <h4><%= link_to t("static_pages.view_profile"), current_user %></h4>
  </div>
  <div class="col-md-6 stylebutton" >
    <%= link_to t("static_pages.words"), "#", class: "action-button shadow animate blue" %>
    <%= link_to t("static_pages.lesson"), "#", class: "action-button shadow animate green" %>
  </div>
</div>
<h4 class="activity"><%= t "static_pages.activities" %></h4>
<hr />
