<div id="nav_category">
  <%= form_for [:admin, @word] do |f| %>
    <%= f.label :alphabet %>
    <%= f.text_area :alphabet, class: "form-control" %>
    <%= f.hidden_field :category_id, value: session[:category_id] %>
    <br>

    <table style="width:100%">   
      <%= f.fields_for :answers do |builder| %>
        <%= render "answer_fields", :f => builder %>
      <% end %>
      <p><%= link_to_add_fields t("dynamic_form.add"), f, :answers %></p>  
    </table>

    <%= f.submit t("word.create"), class: "btn btn-primary" %>
  <% end %>
</div>
<div id="section_category">
  <table style="width:100%">
    <%= render Category.find(session[:category_id]).words %>
  </table>  
</div>
