<li class="category-<%= category.id %>">
  <div class="row">
    <span class="col-md-10">
      <div class="categoryName">
        <b><%= category.name %></b> 
        <b id="category_learned">
          <%= t("category.learned", learned: category.words.learned(current_user.id).count,
          all: category.words.count) %>
        </b>
      </div>
    </span>
    <span>
      <%= form_for Lesson.new do |f| %>
        <%= f.hidden_field :category_id, value: category.id %>
        <%= f.submit t("category.start"), class: "btn btn-primary" %>
      <% end %> 
    </span>
  </div>
</li>
