<% provide :title, t("admin.all_user") %>
<h1><%= t "admin.all_user" %></h1>
<div id="section_admin_user">
    <table id="users_record">
      <tr>
        <th><%= t "admin.table.user" %></th>
        <th><%= t "admin.table.delete" %></th>
        <th><%= t "admin.table.set_admin" %></th>  
      </tr>
      <tr>
        <%= render @users %>
      </tr>
    </table>
</div>
<%= will_paginate %>
